@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<a href="https://login.questrade.com/oauth2/authorize?client_id=@ViewBag.QTAppKey&response_type=code&redirect_uri=https://automaticinvesting.ca/?test=hello">Login to Questrade</a>

<br />
<br />

Response: @ViewBag.testResponse

<br />
<br />

@ViewBag.message

<br />
<br />