<text>

    <h2>Login Complete!</h2>

    Thank you for loggin in. Closing window in 3 seconds.

    <br />

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () { window.close() }, 3000);
        });
    </script>

</text>
